{% extends 'base.html.twig' %}


{% block stylesheets %}
{{ parent() }}

<link rel="stylesheet" href="/css/memory-style.css">


{% endblock %}


{% block title %}Jeu de memoire{% endblock %}

{% block body %}
<main class="game-block">
<h1>Lives : <span class="playerLivesCount"></span></h1>
    <section class="memory-block">

    </section>
</main>
    <script src="/js/memory-game.js"></script>
{% endblock %}
