{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{asset('css/profil_edit.css')}}">
    
{% endblock %}

{% block body %}
    <div class="container profil">
        <h2 class="text-center pb-5 text-dark pt-5">Modifier le profil</h2>

        <p class="">
            {{ include('user/_form.html.twig') }}         
        </p>
    </div>

    <div class="text-center pb-5 modif">
        <a class="btn btn-outline-success btn-lg rounded-pill" href="{{ path('app_user_show') }}">Retour sur votre profil</a>
    </div>

{% endblock %}
