{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="text-center pb-5 text-dark pt-5">Nouvel Utilisateur</h2>
    
        <p class="">
            {{ include('user/_form.html.twig') }}         
        </p>
    </div>

{% endblock %}
